<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="staff_listing_data_source" xsi:type="string">
                    QHO\Staff\Model\ResourceModel\Staff\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="QHO\Staff\Model\ResourceModel\Staff\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">staff</argument>
            <argument name="resourceModel" xsi:type="string">QHO\Staff\Model\ResourceModel\Staff</argument>
        </arguments>
    </virtualType>
</config>
